.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/target/
/bin
**/target/
/logs/
.factorypath/
.settings/
.factorypath
/logs

srv-report-designer/logs/
/srv-report/logs
/srv-formulas/logs